.sbr__main {
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    width: var(--sidebar-w);
    height: 100vh;
    top: 0;
    left: -100%;
    position: fixed;
    padding: 1rem 0.5rem;
    box-shadow: var(--sidebar-boxshadow);
    transition: all 0.25s ease;
    z-index: 10000000;
    /* opacity: 0; */
}
.sbr__main.--active {
    left: 0;
    /* opacity: 1; */
}

/* CONTAINER */
.sbr__container {
    /* background-color: #000; */
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0.5rem 0 0 1.5rem;
}
.sbr__top {
    /* background-color: blue; */
    width: 100%;
    height: fit-content;
    margin-top: 1.5rem;
}
.sbr__img {
    width: 40%;
    height: 100%;
    object-fit: contain;
    /* transform: scale(0.6); */
}
.sbr__body {
    /* background-color: red; */
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
}
.sbr__folder {
    color: var(--clr-gray);
    font-weight: 400;
    margin-top: 2rem;
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 1.5rem;
}
.sbr__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* color: #58677f; */
    font-weight: 500;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    transition: 0.25s ease;
}
.sbr__link:hover {
    background-color: rgb(237, 237, 237);
    color: rgb(0, 0, 0);
}
.sbr__link.--active {
    background-color: var(--clr-primary);
    color: white;
    gap: 1.5rem;
}
